.page-card {
  
    .layout {
        width: 100%;
        min-height: 100vh;
    
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: $page-bg-color;
        
        &__card {
            max-width: $card-width;
            padding: $card-pad;
            display:flex;
            flex-direction: column;
            align-items: center;
            gap: $card-gap;

            border: $border-wth-xs solid $card-border-color;
            border-radius: $border-radius-lg;
            background-color: $card-bg-color;

            box-shadow: $black 7.4px 7.4px 0px;

        }
    }
}
